@charset "UTF-8";
* {
	float: none;
	position: static;
}

img {
	max-width: 100%;
	height: auto;
}
@media screen and (max-width:480px) {

	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
  main {
  		width: 100%;
  	}
}

h1{
  text-align: center;
  color:rgb(255, 255, 255)
}

body{
  text-align: left;
  background:rgb(37, 62, 168);
}




.appframe{
  background:rgb(249, 249, 249);
  width: 90%;
  margin: auto;
  height:50%;
  padding: 10px;
  border-radius: 10px;




}
