@charset "UTF-8";

h1{
  text-align: center;
  color:rgb(255, 255, 255)
}

body{
  text-align: center;
  background:rgb(62, 195, 72);
}




.appframe{
  background:rgb(249, 249, 249);
  width: 75%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;




}
